@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
  --main-color: #79AEA3;
  --second-color: #484041;
  --third-color: #434371;
  --border:.1rem solid var(--second-color);
  --light-black:#777;
  --light-white:#fff9;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
  --light-bg:#eee;
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  list-style-type: none;
}

section{
  padding:5rem 10%;
}

html{
  overflow-x: hidden;
}

html::-webkit-scrollbar{
  width: .7rem;
}

html::-webkit-scrollbar-track{
  background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
  background-color: var(--third-color);
  border-radius: 5rem;
}

@keyframes fadeIn{
  0%{
    transform: scale(0);
    opacity: 0;
  }
}

.title{
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--second-color);
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  color: white;
  background: var(--second-color);
  padding: .6rem 1.5rem;
  font-size: 1.5vw;
  border-radius: 5rem;
  cursor: pointer;
}

.btn:hover{
  background: var(--main-color);
}

.header{
  height: 5.5rem;
  position: sticky;
  top: 0; left: 0; right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 15px 45px rgba(0, 0, 0, .1);
}

.header .logo{
  width: 15rem;
  height: 4rem;
}

.header .logo img{
  width: 100%;
  height: 100%;
}

.header .navbar a{
  color: var(--second-color);
  padding-left: 1.5rem;
  font-size: 1.2rem;
  transition: .2s linear;
}

.header .navbar a:hover{
  color: var(--main-color);
}

.header #bars{
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--second-color);
  display: none;
}

.home{
  padding: 0;
}

.home .swiper .swiper-wrapper .slide{
  width: 100%;
  height: 100%;
  min-height: 40rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .swiper .swiper-wrapper #first{
  background-position: bottom right !important;
  background-size: cover !important;
}

.home .swiper .swiper-wrapper #second{
  background-position: right !important;
  background-size: cover !important;
}

.home .swiper .swiper-wrapper #third{
  background-size: cover !important;
}

.home .swiper .swiper-wrapper .slide .content{
  width: 50rem;
  /* display: none; */
}

/* .home .swiper-slide-active .content{
  display: inline-block;
} */

.home .swiper .swiper-wrapper .slide .content h3{
  font-size: 4vw;
  color: white;
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  animation:fadeIn .2s linear backwards .4s;
}

.home .swiper .swiper-wrapper .slide .content span{
  display: block;
  color: var(--light-white);
  font-size: 2.5vw;
  animation:fadeIn .2s linear backwards .2s;
}

.home .swiper .swiper-wrapper .slide .content .btn{
  animation:fadeIn .2s linear backwards .6s;
}

.home .swiper .swiper-button-next,
.home .swiper .swiper-button-prev{
  color: white;
  background: var(--second-color);
  padding: 2rem 2rem;
}

.home .swiper .swiper-button-next:hover,
.home .swiper .swiper-button-prev:hover{
  background: var(--main-color);
}

.home .swiper .swiper-button-next{
  right: 0;
}

.home .swiper .swiper-button-prev{
  left: 0;
}

.qualities .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem,1fr));
  gap: 1.5rem;
}

.qualities .box-container .box{
  color: var(--second-color);
  cursor: pointer;
  padding: 1rem 1rem;
  text-align: center;
}

.qualities .box-container .box i{
  color: white;
  background-color: var(--second-color);
  padding: 1.4rem 1.5rem;
  border-radius: 50%;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.qualities .box-container .box h3{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.qualities .box-container .box p{
  color: var(--second-color);
  font-size: 1rem;
}

.avis{
  background-image: linear-gradient(rgba(255,255,255,0.2), rgba(0,0,0,0.5)), url("images/bg2.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}

.avis .content{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.avis h1{
  font-size: 2.5rem;
  color: #fff;
}

.procedure{
  padding: 0; margin: 0;
  margin-top: 8rem;
}

.procedure .container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding:5rem 10%; */
  min-height: 100vh;
  background: linear-gradient(var(--second-color), var(--second-color) 50%, #fff 50%, #fff 100%);
}

.procedure .box-container{
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.procedure .box-container .box{
  position: relative;
  width: 320px;
  background: #fff;
  padding: 100px 40px 60px;
  box-shadow: 0 15px 45px rgba(0, 0, 0, .1);
  cursor: pointer;
}

.procedure .box-container .box::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-color);
  transform: scaleY(0);
  transform-origin: top;      /* Ces deux lignes servent à réduire la couleur vers le haut après l'enlèvement du curseur */
  transition: transform 0.5s;
}

.procedure .box-container .box:hover:before{
  transform: scaleY(1);
  transform-origin: bottom; /* Ces deux lignes servent à faire appareitre la couleur vers du bas */
  transition: transform 0.5s;
}

.procedure .box-container .box h2{
  position: absolute;
  left: 40px;
  top: 60px;
  font-size: 4em;
  font-weight: 800;
  z-index: 1;
  opacity: .1;
  transition: 0.5s;
}

.procedure .box-container .box:hover h2{
  opacity: 1;
  color: #fff;
  transform: translateY(-40px);
}

.procedure .box-container .box h3{
  position: relative;
  font-size: 1.5rem;
  z-index: 2;
  color: #333;
  transition: 0.5s;
  margin-bottom: 1rem;
}

.procedure .box-container .box p,
.procedure .box-container .box ul
{
  position: relative;
  z-index: 2;
  color: #555;
  transition: 0.5s;
  line-height: 2;
}

.procedure .box-container .box:hover h3,
.procedure .box-container .box:hover p,
.procedure .box-container .box:hover ul
{
  color: #fff;
}

.home-devis{
  background-image: linear-gradient(rgba(255,255,255,0.2), rgba(0,0,0,0.5)), url("images/bg1.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}

.home-devis .content{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.home-devis h1{
  font-size: 2.5rem;
  color: #fff;
}

.home-about{
  padding: 0; margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--light-bg);
  margin-top: 8rem;
}

.home-about .content{
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  width: 80%;
}

.home-about .content h1{
  text-transform: uppercase;
  color: var(--second-color);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.home-about .content p{
  margin-bottom: 3rem;
  font-size: 1.2rem;
  color: var(--light-black);
  line-height: 1.5;
}

.home-forfait .box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 4.5rem;
}

.home-forfait .box-container .box{
  box-shadow: 0 15px 25px 0 var(--main-color);
  /* box-shadow: 8px 8px 10px 10px var(--light-bg); */
  padding: 2rem 2.2rem;
  width: 18rem;
  height: 22rem;
  cursor: pointer;
  border-radius: 10%;
}

.home-forfait .box-container .box:hover{
  box-shadow: 1px 1px 10px 1px var(--main-color) inset;
}

.home-forfait .box-container .box h3{
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.home-forfait .box-container .box ul{
  margin-bottom: 2rem;
  font-size: 1rem;
  color: var(--light-black);
  line-height: 1.8;
}

.commentaires .container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 50px 8%; */
}

.commentaires .container .gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 30px;
}

.commentaires .container .gallery img{
  width: 100%;
}

.camions{
  padding: 0; margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--light-bg);
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.camions .content{
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  width: 80%;
}

.camions .content h1{
  text-transform: uppercase;
  color: var(--second-color);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.camions .content p{
  margin-bottom: 3rem;
  font-size: 1.2rem;
  color: var(--light-black);
  line-height: 1.5;
}

.convaicus{
  margin-bottom: 5rem;
}

.convaicus .box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5rem;
  flex-wrap: wrap;
  color: var(--second-color);
}

.convaicus .box-container .box .icon{
  font-size: 3rem;
  margin-bottom: 1rem;
}

.convaicus .box-container .box h3{
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.convaicus .box-container .box p{
  margin-bottom: 2rem;
}

.formules #formules-title{
  margin-bottom: 4rem;
  line-height: 4rem;
}

.formules{
  line-height: 2rem;
  background-image: linear-gradient(rgba(250,250,250,1), rgba(250,250,250,0.5)), url("images/bg3.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}

.formules h2{
  color: var(--second-color);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.formules p,
.formules ul{
  margin-bottom: 1rem;
  color: var(--light-black);
  font-size: 1rem;
  text-transform: none;
}

.formules ul{
  padding-left: 1rem;
}

.formules ul li{
  list-style-type: square !important;
  text-transform: none;
}

.formules h3{
  color: var(--second-color);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.formules h4{
  color: var(--second-color);
}

.formules .formules-devis{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.formules .formules-devis h1,
.devis h2,
.services .box-container h1{
  font-size: 3rem;
  font-weight: bold;
  
  background-color: var(--main-color);
  background-image: linear-gradient(45deg, var(--main-color), var(--second-color));
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  margin: 2rem;
  line-height: 3.5rem;
}

.formules .formules-devis{
  margin-bottom: 5rem;
}

#luxe .formules-devis{
  margin-bottom: 0rem;
}

.devis{
  line-height: 2rem;
  background-image: linear-gradient(rgba(250,250,250,1), rgba(250,250,250,0.5)), url("images/bg4.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}

.devis h1{
  margin-bottom: 1rem;
  line-height: 3rem;
}

.devis h3{
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: var(--second-color);
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.devis h2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.devis .devis-form{
  margin-bottom: 5rem;
}

.devis .devis-form .flex{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
  gap: 3rem; 
}

.devis .devis-form .flex .inputbox input,
.devis .devis-form .flex .inputbox textarea{
  width: 100%;
  padding:.6rem 1rem;
  font-size: 1rem;
  color: var(--second-color);
  text-transform: none;
  margin-top: 1rem;
  border:var(--border);
}

.devis .devis-form .flex .inputbox label{
  font-size: 1.2rem;
  color: var(--second-color);
}

.devis .devis-form .flex #inline label{
  width: 100%;
}

.devis .devis-form .flex #inline h4{
  color: var(--second-color);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.devis .devis-form .flex #inline .fl{
  padding-bottom: 1.5rem;
}

.devis .devis-form .flex #inline .fl{
  display: flex;
}

.devis .devis-form .flex .inputbox input:focus{
  color:var(--second-color);
}

.devis .devis-form .flex .inputbox input::placeholder,
.devis .devis-form .flex .inputbox textarea::placeholder{
  color:var(--light-black);
}

.devis .devis-form .boutons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
}

#before_footer{
  margin-bottom: 10rem;
}

.service-title{
  background-image: linear-gradient(rgba(255,255,255,0.2), rgba(0,0,0,0.5)), url("images/bg5.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}

.service-title .content{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 20rem;
}

.service-title h1{
  font-size: 2.8rem;
  margin: 2rem 4rem;
  color: white;
}

.services .box-container h1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  line-height: 2.8rem;
  margin: 0;
  margin-bottom: 2rem;
}

.services .box-container .box h2{
  color: var(--second-color);
  font-size:  1.6rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  line-height: 2.5rem;
}

.services .box-container .box p,
.services .box-container .box ul{
  margin-bottom: 1rem;
  color: var(--light-black);
  font-size: 1rem;
  text-transform: none;
  line-height: 2rem;
}

.services .box-container .box ul{
  padding-left: 1rem;
}

.services .box-container .box ul li{
  list-style-type: square !important;
  text-transform: none;
}

/* .services-devis{
  background-image: linear-gradient(45deg, var(--second-color), var(--main-color));
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.services-devis .content{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.services-devis .content h1{
  color: white;
  font-size: 1.6rem;
} */

.services-devis{
  background-image: linear-gradient(rgba(255,255,255,0.2), rgba(0,0,0,0.5)), url("images/bg4.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}

.services-devis .content{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.services-devis h1{
  font-size: 2rem;
  color: #fff;
}

#sf{
  margin-top: 9rem;
}

#marginh1{
  margin-top: 4rem;
}

.contact{
  background-color: var(--main-color);
  color: var(--second-color);
}

/* .contact .container{
  margin: 50px auto;
} */

.contact .container h1{
  margin-bottom: 10px;
}

.contact-box{
  display: flex;
}

.contact-left{
  background: white;
  flex-basis: 60%;
  padding: 40px 60px;
}

.contact-right{
  flex-basis: 40%;
  padding: 40px;
  background: var(--third-color);
  color: white;
}

.input-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group{
  flex-basis: 45%;
}

.input-row .input-group input{
  color: var(--second-color);
  width: 100%;
  border-bottom: 1px solid var(--light-black);
  padding-bottom: 5px;
}

.contact .container h1{
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: var(--third-color);
}

.contact-left textarea{
  width: 100%;
  border: 1px solid var(--light-black);
  padding: 10px;
  box-sizing: border-box;
}

.contact-left label{
  margin-bottom: 6px;
  display: block;
  color: var(--third-color);
}

.btn_contact{
  background: var(--third-color);
  width: 100px;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}

.contact-left h3{
  color: var(--third-color);
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-right h3{
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-right tr td:first-child{
  padding-right: 20px;
}

.contact-right tr td{
  padding-top: 20px;
}


































.footer{
  background-color: var(--second-color);
  padding: 5% 5%;
  padding-right: 8%;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
  gap: 2rem;
}

.footer .box-container .box a{
  display: block;
  color: white;
}

.footer .box-container .box h3{
  color: var(--main-color);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer .box-container .box a i{
  color: var(--main-color);
  padding-right: .5rem;
  margin-bottom: 1rem;
  transition: .3s linear;
}

.footer .box-container .box a:hover i{
  padding-right: 2rem;
}

.footer .box-container .box h4{
  color: var(--main-color);
  margin-bottom: .5rem;
  margin-top: .5rem;
}














@media (max-width:1110px){
  .contact-box{
    flex-wrap: wrap;
  }
  .contact-box .contact-left,
  .contact-box .contact-right{
    flex-basis: 100%;
  }

  .service-title h1{
    font-size: 2.5rem;
  }

}

@media (max-width:1030px){

  .header{
   justify-content: space-between; 
   padding: 0 2rem;
  }

  .header #bars{
    display: inline-block;
    transition: .2s  linear;      
  }

  .header #bars.fa-times{
    transform: rotate(180deg); 
  }

  .header .navbar{
    position: absolute;
    top: 99%; left: 0%; right: 0%;
    background-color: white;
    border-top: var(--border);
    padding: 2rem;
    transform: .2s linear;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.activate{         
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a{
    display: block;
    margin: 2rem;
    text-align: center;
  }

}

@media (max-width:991px){
  .home .swiper .swiper-wrapper .slide .content{
    width: 40rem;
  }

  .btn{
    font-size: 2vw;
  }

  .service-title h1{
    font-size: 2rem;
  }
}

@media (max-width:768px){
  .home .swiper .swiper-wrapper .slide .content{
    width: 35rem;
  }

  html{
    font-size: 90%;
  }

  .btn{
    font-size: 2.5vw;
  }

  .formules #formules-title{
    font-size: 2rem;
    line-height: 1.5;
  }

  .formules h2{
    font-size: 1.5rem;
  }

  .devis h1{
    font-size: 2rem;
  }

  .devis h3{
    font-size: 1.2rem;
  }

  .devis h2{
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .service-title h1{
    font-size: 1.5rem;
  }
}

@media (max-width:450px){

  html{
    font-size: 60%;
  }

  .title{
    font-size: 2.5rem;
  }

  .home .swiper .swiper-button-next,
  .home .swiper .swiper-button-prev{
    margin: 4rem 0;
  }

  .btn{
    font-size: 3vw;
  }

  .contact-box .contact-left,
  .contact-box .contact-right{
    padding: 1rem 2rem;
  }
  .contact-box h3{
    font-size: 2rem;
  }

}